@import "tailwindcss";

@font-face {
    font-family: BlackLiger;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Black-Liger.woff") format("woff"),
        url("./fonts/Black-Liger.woff2") format("woff2");
}

@font-face {
    font-family: Thunder;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Thunder-SemiBoldLC.woff") format("woff"),
        url("./fonts/Thunder-SemiBoldLC.woff2") format("woff2");
}

@font-face {
    font-family: Thunder;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Thunder-BoldLC.woff") format("woff"),
        url("./fonts/Thunder-BoldLC.woff2") format("woff2");
}

@font-face {
    font-family: Thunder;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Thunder-MediumLC.woff") format("woff"),
        url("./fonts/Thunder-MediumLC.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2") format("woff2");
}

@theme {
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-tertiary: var(--tertiary-color);
    --color-dark: var(--dark-color);
    --color-light: var(--light-color);

    --color-text-light: var(--text-light);
    --color-text-dark: var(--text-dark);

    --color-background-dark: var(--bg-dark);
    --color-background-light: var(--bg-light);

    --font-thunder: "Thunder", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-inter: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    --font-liger: "BlackLiger", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;

    --text-display: clamp(3rem, 2.3269rem + 2.5641vw, 5.5rem);
    --text-title-xl: clamp(2rem, -0.2143rem + 3.4598vw, 3.9375rem);
    --text-title-l: clamp(2.875rem, 2.0889rem + 1.0897vw, 3.9375rem);
    --text-title-m: clamp(1.75rem, 0.3214rem + 2.2321vw, 3rem);
    --text-title-s: clamp(1.125rem, 1.024rem + 0.3846vw, 1.5rem);
    --text-title-xxs: 1rem;
    --text-subtitle-lg: clamp(1rem, -0.4286rem + 2.2321vw, 2.25rem);
    --text-subtitle: clamp(1.25rem, 0.9808rem + 1.0256vw, 2.25rem);
    --text-body-m: clamp(0.9375rem, 0.887rem + 0.1923vw, 1.125rem);
    --text-body-s: .875rem;
    --text-body-xs: clamp(0.5375rem, 0.412rem + 0.229vw, 0.75rem);
    --text-button-l: clamp(1rem, 0.9663rem + 0.1282vw, 1.125rem);
    --text-button-m: .875rem;

    --leading-132: var(--line-height-132);
    --leading-130: var(--line-height-130);
    --leading-120: var(--line-height-120);
    --leading-110: var(--line-height-110);
    --leading-100: var(--line-height-100);

    --tracking-8: var(--letter-spacing-8);
    --tracking-4: var(--letter-spacing-4);
    --tracking-0: var(--letter-spacing-0);
    --tracking-tight-4: var(--letter-spacing--4);
    --tracking-tight-3: var(--letter-spacing--3);

    --spacing-section: var(--section-padding);
    --spacing-button-x: 1rem;
    --spacing-button-y: .75rem;

    --radius-xl: 2rem;
    --radius-l: 1.5rem;
    --radius-m: 1rem;
    --radius-s: 0.5rem;
    --radius-xs: 0.25rem;
}

:root {
    /* colors */
    --primary-color: #24333b;
    --secondary-color: #B5DDE0;
    --terciary-color: #D3E2E3;
    --tertiary-color: var(--terciary-color);
    --dark-color: #24333b;
    --light-color: #ffffff;

    --text-light: var(--terciary-color);
    --text-dark: var(--dark-color);

    --bg-dark: var(--primary-color);
    --bg-light: var(--light-color);
    --dark-gradient: linear-gradient(180deg, var(--dark-color) 65%, #01040500 100%);

    /* fonts */
    --font-thunder: "Thunder", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-inter: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    --font-liger: "BlackLiger", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;

    /* typographic scale */
    --text-display: clamp(2.875rem, 1.0179rem + 2.9018vw, 4.5rem);

    --text-title-xl: clamp(2rem, -0.2143rem + 3.4598vw, 3.9375rem);
    --text-title-l: clamp(2.875rem, 0.3036rem + 4.0179vw, 5.125rem);
    --text-title-m: clamp(1.75rem, 0.3214rem + 2.2321vw, 3rem);
    --text-title-s: clamp(1.125rem, 1.024rem + 0.3846vw, 1.5rem);
    --text-title-xxs: 1rem;

    --text-subtitle: clamp(1.25rem, 0.9808rem + 1.0256vw, 2.25rem);
    --text-body-m: clamp(0.9375rem, 0.887rem + 0.1923vw, 1.125rem);
    --text-base: clamp(0.8125rem, 0.5982rem + 0.3348vw, 1rem);
    --text-body-s: .875rem;
    --text-body-xs: clamp(0.53125rem, 0.2813rem + 0.3906vw, 0.75rem);

    --text-button-l: clamp(1rem, 0.9663rem + 0.1282vw, 1.125rem);
    --text-button-m: .875rem;

    /* line heights */
    --line-height-132: 1.32;
    --line-height-130: 1.3;
    --line-height-120: 1.2;
    --line-height-110: 1.1;
    --line-height-100: 1;

    /* letter spacing */
    --letter-spacing-8: 0.3em;
    --letter-spacing-4: 0.015em;
    --letter-spacing-0: 0;
    --letter-spacing--4: -0.02em;
    --letter-spacing--3: -0.03em;

    /* spacing */
    --section-padding: 4rem;
    --button-padding: 0.75rem 1rem;

    /* border radius */
    --rounded-full: 9999px;
    --rounded-xl: 2rem;
    --rounded-l: 1.5rem;
    --rounded-m: 1rem;
    --rounded-s: 0.5rem;
    --rounded-xs: 0.25rem;
}

@media (max-width: 768px) {
    :root {
        /* typographic scale */
        --text-display: clamp(3rem, 2.3269rem + 2.5641vw, 5.5rem);

        --text-title-l: clamp(2.5rem, 1.8901rem + 2.7108vw, 3.625rem);
        --text-title-m: clamp(1.75rem, 1.3929rem + 1.7857vw, 2.25rem);
        --text-title-s: 2rem;
        --text-title-xxs: 1.125rem;

        --text-subtitle: clamp(1.25rem, 0.9808rem + 1.0256vw, 2.25rem);
        --text-body-m: clamp(0.9375rem, 0.887rem + 0.1923vw, 1.125rem);
        --text-body-s: .875rem;
        --text-body-xs: clamp(0.59375rem, 0.4152rem + 0.279vw, 0.75rem);

        --text-button-l: clamp(1rem, 0.9663rem + 0.1282vw, 1.125rem);
        --text-button-m: .875rem;

        --section-padding: 1rem;
    }
}

@layer base {
    body {
        @apply m-0 overflow-x-hidden bg-background-dark p-0 font-thunder text-text-light antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @apply m-0 p-0;
    }
}

@layer utilities {
    .text-display {
        @apply font-liger text-display font-normal tracking-4 text-secondary leading-[0.9];
    }

    .text-title-l {
        @apply font-thunder text-title-l uppercase tracking-4;
    }

    .text-title-m {
        @apply font-thunder text-title-m font-semibold uppercase tracking-4;
        line-height: var(--leading-100);
    }

    .text-title-s {
        @apply font-thunder text-title-s font-semibold uppercase tracking-8;
        line-height: var(--leading-120);
    }

    .text-title-xxs {
        @apply font-thunder text-title-xxs font-medium uppercase tracking-[0.18em];
        line-height: var(--leading-100);
    }

    .text-subtitle {
        @apply font-inter text-subtitle font-normal tracking-tight-4;
        line-height: var(--leading-130);
    }

    .text-body-m {
        @apply font-inter text-body-m font-normal tracking-tight-4;
        line-height: var(--leading-130);
    }

    .text-body-s {
        @apply font-inter text-body-s font-normal tracking-tight-3;
        line-height: var(--leading-132);
    }

    .text-body-xs {
        @apply font-inter text-body-xs font-normal tracking-0;
        line-height: var(--leading-100);
    }

    .text-button-m {
        @apply font-inter text-button-m font-semibold tracking-0;
        line-height: var(--leading-100);
    }

    .text-button-l {
        @apply font-inter text-button-l font-normal tracking-0;
        line-height: var(--leading-100);
    }

    .dark-gradient {
        background: var(--color-background-dark);
        background: var(--dark-gradient);
    }

    .section {
        @apply grid min-h-svh grid-cols-12;
        padding-inline: var(--section-padding);
    }

    .lighting-text {
        @apply opacity-20;
    }
}

@media (max-width: 1024px) {
    .section {
        @apply grid-cols-4;
    }
}

@media (min-width: 1921px) {
    .section {
        min-height: 100svh;
        position: relative;
    }
}
